html, body {
    height: 90%;
}
.parent {
    width: 100%;
    height: 75%;
    display: table;
    text-align: center;
}
.parent > .child {
    display: table-cell;
    vertical-align: middle;
}
.centerHorizontally {
    display: table;
    margin: 0 auto;
}
